*{
	margin:0;
	padding: 0;
}

.menu{
	position: fixed;
	padding: 20px;
	width: 10%;
	height: 100%;
	background-color: #47ef40;
	float: left;
}
.menu a{
	font-size: 20px;
	margin-bottom: 15%;
	padding-top: 20px;
	color: #faf6f6;
	text-decoration: none;
	display: block;
	
}
.menu #h3_1{
	margin-top: 20px;
	margin-bottom: 5px;
	color: #7b6a7a;
	font-size: 25px;
	text-align: center;
}
.menu #h4_1{
	margin-top: 10px;
	margin-bottom: 10px;  
	color: #7b6a7a;  
	font-size: 25px;
	text-align: center;

}
.menu #h2_1{
	margin-bottom: 20px;
	color: #46ce3c;
	font-size: 15px;
	text-align: center;
}

.menu a:hover{
	color: grey;
	
}
.container{
	position: absolute;
	left: 35%;
	top: 20%;
}
.container p{
	margin-bottom: 10px;
	font-size: 15px;
	color: #7f7f7f;
}
.container input[type="text"]{
	font-size: 15px;
	border-radius: 5px;
	outline: none;
}
.container input[type="submit"]{
	font-size: 18px;
	margin-top: 15px;
	border:none;
	outline: none;
	padding: 5px 10px;
	color: white;
	border-radius: 5px;
	background-color: #6ab5ee;
	cursor: pointer;
}