*{
	margin:0;
	padding: 0;

}

.menu{
	position: fixed;
	padding: 20px;
	width: 10%;
	height: 100%;
	background-color: #47ef41;
	float: left;
}
.menu a{
	font-size: 20px;
	margin-bottom: 15%;
	padding-top: 20px;
	color: #faf6f6;
	text-decoration: none;
	display: block;
	
}
.menu #h3_1{
	margin-top: 20px;
	margin-bottom: 5px;
	color: #707070;
	text-align: center;
	font-size: 35px;
	
}
.menu #h4_1{
	margin-top: 10px;
	margin-bottom: 10px;  
	color: #707070; 
	text-align: center;
	font-size: 25px;
	                                                                                    
}
.menu #h2_1{
	margin-bottom: 20px;
	color: #54c350;
	font-size: 15px;
	text-align: center;
}
.menu a:hover{
	color: grey;
}

.word h3{
	text-align: center;
}
.word{
	float: left;
	width: 20%;
	margin-top: 15%;
	margin-left: 40%;
}
.word #h3_2{
	font-size: 45px;
	color: #707070;

}
.word #p_1{
	font-size: 20px;
	text-align: center;
}