body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}
.loginform{
	width: 320px;
	height: 450px;
	background:white;
	color: black;
	top: 55%;
	left: 51.5%;
	position: absolute;
	transform: translate(-60%,-65%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 20px
}
h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}
.loginform p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.loginform input{
	width: 100%;
	margin-bottom: 20px;
}
.loginform input[type="text"], input[type="password"]{
	border:none;
	border-bottom: 1px solid black;
	background:transparent;
	height: 40px;
	color: black;
	font-size: 16px;
}
.loginform input[type="submit"]{
	border:none;
	outline: none;
	height: 40px;
	background-color: white;
	font-size: 22px;
	border-radius: 20px;

}
.loginform input[type="submit"]:hover{
	color: grey;
	cursor: pointer;
	background-color: #ABA9E9;


}
.loginform a{
	padding: 15px;
	text-decoration: none;
	color: black;
	line-height: 20px;
	font-size: 12px;
}
.loginform a:hover{
	color: grey;
	
}